*~
*#
build-stamp
debian/.debhelper
debian/*.debhelper
debian/*.substvars
debian/*.log
debian/files
debian/ilisp/
debian/ilisp-doc/
docs/ilisp.aux
docs/ilisp.cp
docs/ilisp.cps
docs/ilisp.dvi
docs/ilisp.fn
docs/ilisp.fns
docs/ilisp.html
docs/ilisp.info
docs/ilisp.ky
docs/ilisp.kys
docs/ilisp.log
docs/ilisp.pdf
docs/ilisp.pg
docs/ilisp.pgs
docs/ilisp.ps
docs/ilisp.toc
docs/ilisp.vr
docs/ilisp.vrs
